<launch>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="/scan" to="/pepper_robot/laser"/>
        <param name="map_update_interval" value="2" />
        <param name="linearUpdate" value="0.1" />
        <param name="angularUpdate" value="0.1" />
        <param name="temporalUpdate" value=".5" />
        <param name="xmin" value="-10." />
        <param name="ymin" value="-10." />
        <param name="xmax" value="10." />
        <param name="ymax" value="10." />
        <param name="particles" value="300" />
        <param name="maxRange" value="1.5" />
        <param name="maxUrange" value="1.1" />
        <param name="delta" value="0.02" />
    </node>

</launch>
